*{margin: 0px; padding: 0px;}
li{list-style:none;}
a{text-decoration: none;color: #ccc;cursor: pointer;}
h1,h2,h3,h4,h5,h6{font-weight: 300;}
.clear{clear: both;}

.contents{width:100%; border-bottom:1px solid #ccc; }







